RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^/404\.html$
RewriteRule ^(.*)$ http://pwnhs.org/404.html [R=307,L]

RewriteEngine on
DirectoryIndex 404.html