/* PWNHS by A. Hafiz & other amazing contributors ❤️ */

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}

#page-loading-molekules-notifaction{position: absolute;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = molekules
-------------------------------------------------------------- */

.molekule{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}
.molekule .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.molekule-lg{
	padding:100px 50px;
}
.molekule-md-lg{
	padding:75px 50px 50px 50px;
}
.molekule-md{
	padding:50px;
}
.molekule-sm{
	padding:20px 50px;
}

/* = Full Screen molekules 
-------------------------------------------------------------- */

.molekule-fill-screen{
	padding-top:0;
	position: relative;
	height: inherit;
}
.molekule-fill-screen > .container{
	position:relative;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.molekule-fill-screen.molekule-group .molekule{
	vertical-align: middle!important;
}
.molekule-fill-screen .fill-molekule-top-edge, .molekule-fill-screen .fill-molekule-bottom-edge{
	position: absolute;
	margin: 20px auto;
	left: 0;
	right: 0;
	z-index: 1;
	transform: none;
}
.molekule-fill-screen .fill-molekule-top-edge{
	top:0;
}
.molekule-fill-screen .fill-molekule-bottom-edge{
	top: initial;
	bottom: 20px;
}
.molekules-hero-btn-dwn{
	width: 58px;
	height: 58px;
	display: block;
	margin:0 auto;
	line-height: 58px;
	padding: 0;
	border-radius: 50%;
	text-align: center;
	font-size: 38px;
	color: #FFFFFF!important;
	background: none;
	border:0;
}
.molekules-hero-btn-dwn:hover{
	color: #FFFFFF;
    font-size: 38px;
}


/* Background Effects */

.b-parallax{
	background-attachment:fixed;
}


/* Dark theme */

.d-molekule{
	color:rgba(255,255,255,.7);
}
.d-molekule button:hover{
	color:rgba(255,255,255,.9);
}
.d-molekule .icon-round,.d-molekule .icon-square,.d-molekule .icon-rounded,.d-molekule .icon-semi-rounded-a,.d-molekule .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-molekule .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-molekule .a-btn,.d-molekule .navbar a,.d-molekule .navbar-brand, .d-molekule a .icon-sm, .d-molekule a .icon-md, .d-molekule a .icon-lg, .d-molekule a .icon-xl, .d-molekule h1 a, .d-molekule h2 a, .d-molekule h3 a, .d-molekule h4 a, .d-molekule h5 a, .d-molekule h6 a, .d-molekule p a{
    -webkit-transition: color .3s ease-in-out; 
    transition: color .3s ease-in-out;
	color:rgba(255,255,255,.6);
}

.d-molekule .a-btn:hover,.d-molekule .navbar a:hover,.d-molekule .navbar-brand:hover,.d-molekule a:hover .icon-sm, .d-molekule a:hover .icon-md, .d-molekule a:hover .icon-lg, .d-molekule a:hover .icon-xl, .d-molekule h1 a:hover, .d-molekule h2 a:hover, .d-molekule h3 a:hover, .d-molekule h4 a:hover, .d-molekule h5 a:hover, .d-molekule h6 a:hover, .d-molekule p a:hover{
	color:rgba(255,255,255,1);
}
.d-molekule .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-molekule .btn-wire,.d-molekule .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-molekule .panel{
	color:rgba(0,0,0,.5);
}
.d-molekule .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-molekule .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-molekule .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-molekule .panel .a-btn{
	color:rgba(0,0,0,.6);
}
.d-molekule .panel .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-molekule .panel .btn-wire, .d-molekule .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-molekule .panel,.l-molekule{
	color:rgba(0,0,0,.5);
}
.d-molekule .panel button:hover,.l-molekule button:hover{
	color:rgba(0,0,0,.7);
}
.l-molekule .icon-round,.l-molekule .icon-square,.l-molekule .icon-rounded,.l-molekule .icon-semi-rounded-a,.l-molekule .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-molekule .panel .divider-h span,.l-molekule .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-molekule .panel .a-btn,.l-molekule .a-btn,.l-molekule .navbar a,.l-molekule .navbar-brand,.l-molekule a .icon-sm, .l-molekule a .icon-md, .l-molekule a .icon-xl, .l-molekule h1 a, .l-molekule h2 a, .l-molekule h3 a, .l-molekule h4 a, .l-molekule h5 a, .l-molekule h6 a, .l-molekule p a{
    -webkit-transition: color .2s ease-in-out; 
    transition: color .2s ease-in-out;
	color:rgba(0,0,0,.6);
}
.d-molekule .panel .a-btn:hover,.l-molekule .a-btn:hover,.l-molekule .navbar a:hover, .l-molekule .navbar-brand:hover, .l-molekule a:hover .icon-sm, .l-molekule a:hover .icon-md, .l-molekule a:hover .icon-xl, .l-molekule h1 a:hover, .l-molekule h2 a:hover, .l-molekule h3 a:hover, .l-molekule h4 a:hover, .l-molekule h5 a:hover, .l-molekule h6 a:hover, .l-molekule p a:hover{
	color:rgba(0,0,0,1);
}
.l-molekule .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-molekule .panel .btn-wire,.d-molekule .panel .btn-wire:hover,.l-molekule .btn-wire,.l-molekule .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
.voffset-lg{
	margin-top:80px;
}

/* molekule text custom styling */

#molekule-1 h1{
	font-weight: 900;
	font-size: 60px;
}
#molekule-2 h1{
	font-size: 48px;
}
#molekule-2 p{
	font-size: 17px;
}
#molekule-4 h3{
	font-weight: 700;
}
#molekule-5 h3{
	font-weight: 700;
}
#molekule-11 p{
	line-height: 25px;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar-brand{
	height:auto;
	padding:15px 15px;
	font-size:25px!important;
	font-weight:normal;
	font-weight:600;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.navbar-brand{
	padding: 15px 15px;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
	z-index:1;
}
.nav > li a{
  font-size: 14px;  
}
.nav > li{
	float:left;
	margin-top:4px;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav-invert .site-navigation{
		left:20px;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		margin-top:20px;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

nav .caret{
	margin: 0 5px;
}
/* Dropdown Menus SubMenu */
	.dropdown-menu .dropdown-menu{
	top:-8px;
	left:100%;
}
.dropdown-menu .dropmenu-flow-right{
	top:100%;
	left:0;
	margin-left: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
	border: 4px solid black;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin: 6px -5px 0 0!important;
	float: right;
}

/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky{
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	 transition: all .2s ease-out;
}

/* = mass adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-smm{
    margin-top:7.5px;
    margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-lg{
	margin-bottom:50px;
}
/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-wire{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-wire:hover{
	background:transparent!important;
	border:2px solid transparent;
}
.icon-spacer{
	margin-right:5px;
}
.btn .caret{
	margin:0 0 0 5px}.dropdown a .caret{
	margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
	padding: 3px 20px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}
.icon-lg{
	font-size:60px!important;
}
.icon-round{
	margin:0 auto;
	border:2px solid transparent;
	border-radius: 50%;
	padding: 32px 30px 26px 30px;
	min-width:80px;
}
.icon-round,.icon-md,.icon-square.icon-md,.icon-rounded.icon-md{
	min-width: 92px;
}
.icon-round.icon-lg,.icon-square.icon-lg,.icon-rounded.icon-lg{
	min-width: 122px;
}
.icon-round.icon-xl,.icon-square.icon-xl,.icon-rounded.icon-xl{
	min-width: 162px;
}



/* = Lists
-------------------------------------------------------------- */
.list-sp-md li{
	padding-bottom:10px;
}
.list-sp-md li:last-child,.list-sp-lg li:last-child,.list-sp-xl li:last-child{
	padding-bottom:0;
}

/* = Text Widths
-------------------------------------------------------------- */
.text-w-md{
	max-width:300px;
}
.text-w-lg{
	max-width:400px;
}
.text-w-90{
	max-width:90%;
}
.text-w-70{
	max-width:70%;
}
.text-w-50{
	max-width:50%;
}
.text-center.text-w-sm, .text-center.text-w-md, .text-center.text-w-lg, .text-center.text-w-90, .text-center.text-w-80, .text-center.text-w-70, .text-center.text-w-60, .text-center.text-w-50{
	margin-left: auto;
	margin-right: auto;
}

/* = Text & Icon Styles
-------------------------------------------------------------- */

.glow-t{
	text-shadow: 0 0 10px rgba(255,255,255,.7);
}

/* = Panels
-------------------------------------------------------------- */
.panel{
	border:0;
	box-shadow: 0 0 2px rgba(0,0,0,.4);
}
.panel-heading, .panel-footer{
	background-color: inherit;
	border-color: rgba(0,0,0,.1)!important;
}
.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}

/* = Icons
-------------------------------------------------------------- */

.icon-md{
	font-size:30px!important;
}
.icon-lg{
	font-size:60px!important;
}

/* iFrame */

iframe{
	border:0;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* = Webkit Animations
-------------------------------------------------------------- */

@keyframes e4 { 
	0%   { color: #737373; }
	50%  { color: #fa575d; }
	100% { color: #737373; }
}
@-moz-keyframes e4 { 
	0%   { color: #737373; }
	50%  { color: #fa575d; }
	100% { color: #737373; }
}
@-webkit-keyframes e4 { 
	0%   { color: #737373; }
	50%  { color: #fa575d; }
	100% { color: #737373; }
}
.ex4 {
	animation:         e4 2s infinite; 
	-moz-animation:    e4 2s infinite; 
	-webkit-animation: e4 2s infinite; 
}

.expansion { 
    -webkit-transition: all .3s ease-in-out; 
} 

.expansion:hover {
    -webkit-transform: scale(1.02); 
}

.expansion-social { 
    -webkit-transition: all .3s ease-in-out; 
} 

.expansion-social:hover {
    -webkit-transform: scale(1.05); 
}

.iconWrap { 
    position: relative; 
} 

.iconDescription { 
    opacity:0; 
    -webkit-transition: opacity 0.3s ease-in-out;
} 

.iconWrap:hover .iconDescription { 
    /*visibility: visible;*/ 
    opacity:1; 
    -webkit-transform: scale(1.0); 
}

.twtr .icon-lg, .fbook .icon-lg, .rmnd .icon-lg, .gith .icon-lg, .mail1 .icon-lg, .mail2 .icon-lg, .mail3 .icon-lg, .mail4 .icon-lg{
    -webkit-transition: color .3s ease-in-out; 
    transition: color .3s ease-in-out;
	color:rgba(0,0,0,.6);
}

.twtr:hover .icon-lg, .twtr:hover .iconDescription{
    color: #55acee; 
}

.fbook:hover .icon-lg, .fbook:hover .iconDescription{
    color: #3b5998; 
}

.rmnd:hover .icon-lg, .rmnd:hover .iconDescription{
    color:rgb(77, 139, 217); 
}

.gith:hover .icon-lg, .gith:hover .iconDescription{
    color: #333333; 
}

.mail1:hover .icon-lg, .mail1:hover label{
    color: #22778e; 
}

.mail2:hover .icon-lg, .mail2:hover label{
    color: #2789a2; 
}

.mail3:hover .icon-lg, .mail3:hover label{
    color: #2c9ab7; 
}

.mail4:hover .icon-lg, .mail4:hover label{
    color: #31abcc; 
}

/* = Hyperlinks
-------------------------------------------------------------- */

a:hover{text-decoration: none; cursor:pointer;}

a.keep, a.keep:link, a.keep:hover, a.keep:visited, a.keep:active {
    color: inherit !important;
}

a,button{outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a.whitelink, a.whitelink:link, a.whitelink:hover, a.whitelink:visited, a.whitelink:active {
    color: #9b9b94 !important;
    cursor: text;
    font-family: "courier", sans-serif !important;
    font-size: 15px;
}

a.pw, a.pw:link, a.pw:hover, a.pw:visited, a.pw:active {
    color: black !important;
    cursor: text;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
    font-size: 13px;
}

a.nhsf, a.nhsf:link, a.nhsf:hover, a.nhsf:visited, a.nhsf:active {
    color: #035299 !important;
    cursor: text;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
    font-size: 13px;
}

/* = Custom Styling
-------------------------------------------------------------- */

.cent{
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.main-app-icon{
	margin-bottom:80px;
}

h1,h2,h3,h4,h5,h6,p,label,.btn,a,li,ul{
	font-family:"proxima-nova", sans-serif!important;
}
.container{
	max-width:1170px;
}
.statement-molekule-text{
	line-height:38px;
	font-style:italic;
	font-size:28px;
	text-align:center;
	font-weight:lighter;
}
.molekules-personal-panel{
	background-color:#FFFFFF;
	text-align:center;
	border-radius:6px 6px 6px 6px;
	border-width:0px 0px 0px 0px;
	font-family:"Montserrat";
	max-height:400px;
	padding:40px 40px 40px 40px;
	max-width:100%;
}
.molekules-panel-avatar{
	max-width:100px;
	margin-bottom:20px;
}
.molekules-personal-panel h3{
	color: rgba(0,0,0,.8);
	font-family:"Lato";
	font-size:36px;
	font-weight:700;
}
.molekules-personal-panel p{
	color: rgba(0,0,0,.3);
	font-family:"Lato";
	font-size:18px;
	font-weight:700;
	margin-bottom:20px;
}
.molekules-social-list-v{
	max-width:100%;
	margin:0 auto!important;
}
.molekules-social-list-v li{
	min-width:30px;
}
.hero-molekule-text{
	font-size:36pt;
	font-weight:300;
    letter-spacing: 5px;
}
.hero-molekule-text-sub{
	font-weight:400;
	font-size:19pt;
    color: rgba(255,255,255,.8);
    margin-top:0;
    margin-bottom:30px;
    line-height: 35px;
}
.coder{
	font-size:8px !important;
}
.info{
	margin-top:10%;
	font-size:2px;
}
.valley-hero-text{
	font-family:"Josefin Sans";
	font-size:60px;
	font-weight:bold;
	text-shadow:0px 3px 8px rgba(0,0,0,0.2);
}
.valley-hero-text-sub{
	font-family:"Josefin Sans";
	font-size:36px;
}
.hero-text-vc{
	margin-top:50%;
}
.molekules-blue-button{
	background-color:#41b6f3;
}
.molekules-blue-button:hover{
	background-color:#39a6de;
}
.lake-hero-molekule{
}
.lake-hero-text{
	font-family:"Josefin Sans";
	font-size:60px;
	font-weight:bold;
	text-shadow:0px 3px 3px rgba(0,0,0,0.3);
}
.lake-hero-text-sub{
	font-family:"Josefin Sans";
	font-size:36px;
}

@media only screen and (max-width: 767px){
    .wolfe{}
}

@media only screen and (min-width: 768px){
    .wolfe{
	   padding-bottom:2%;
        padding-top: 2%;
    }
}

.mount-italy-hero-text-s{
	font-size:60px;
}
.mount-italy-hero-text-sub-s{
	font-size:34px;
}
.device-molekule-text-vc{
	font-size:50px;
	margin-top:50%;
}
.head1{
	padding-top:10%;
}
.valley-hero-text-s{
	font-size:60px;
}
.valley-hero-text-sub-s{
	font-size:34px;
}
.mount-italy-hero-text{
	font-family:"Josefin Sans";
	font-size:60px;
	font-weight:bold;
	text-shadow:0px 3px 8px rgba(0,0,0,0.2);
}
.mount-italy-hero-text-sub{
	font-family:"Josefin Sans";
	font-size:36px;
}
.arrowdown{
	width:58px;
	height:58px;
	font-size:38px;
}
.molekules-team-title{
	color:#1d1d1d;
	font-size:50px;
	font-family:"Lato";
	font-weight:300;
}
.molekules-team-header{
	color:#1d1d1d;
	font-size:38px;
	font-family:"Lato";
	font-weight:300;
}
.molekules-team-sub{
	font-size:18px;
	font-family:"Lato";
	font-weight:500;
}
.team{
	background-color:rgba(0,1,1,0.0);
	background-image:url("img/IMG_0758.JPG");
}

.nav-molekule-top{
    position:absolute;
    z-index:1;
}

.icon-sm-md {
    font-size: 20px!important;
}

.btmrow {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    line-height: 25px;
}

.btmrow li:first-child {
    margin-top: 0
}

.btmrow ul {
    list-style: none;
    padding: 0;
}

@media only screen and (min-width: 64.063em) {
    .btmrow {
        max-width: 980px
    }

    .btmrow ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .btmrow li {
        padding: 0 18px;
        position: relative;
        margin-top: 0
    }

    .btmrow li:after {
        content: '\2022';
        display: block;
        position: absolute;
        right: -3px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .btmrow li:last-child:after {
        display: none
    }
}

code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

@media (max-width: 1024px)
{
    .molekule{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .molekule.full-width-molekule, .molekule-tile-2.full-width-molekule .container, .molekule-tile-3.full-width-molekule .container, .molekule-tile-4.full-width-molekule .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}

.full-width-molekule{
	padding-left:1%;
	padding-right:1%;
}
.full-width-molekule .container{
	width:100%;
	max-width:100%!important;
}
/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
	background-color:#FFFFFF;
}
.bgc-glaucous{
	background-color:#5D69B1;
}
.bgc-platinum{
	background-color:#E5E5E5;
}
/* Text colour styles */

.tc-white{
	color:#FFFFFF!important;
}
.tc-manatee{
	color:#A0A0A0!important;
}
.tc-black{
	color:#000000!important;
}
/* Icon colour styles */

.icon-white{
	color:#FFFFFF;
	border-color:#FFFFFF;
}

/* molekule image backgrounds */

}.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.png?timestamp=1466994547947");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.png");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.jpg");
}
.bg-Untitled-2{
	background-image:url("img/Untitled-2.jpg");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.png?timestamp=1466994956550");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.png");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.jpg");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.png");
}
.bg-map-overlay{
	background-image:url("img/map-overlay.png");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.png");
}
.bg-IMG-4617{
	background-image:url("img/IMG_4617.png");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.png");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.png");
}
.bg-city{
	background-image:url("img/city.jpg");
}
.bg-citysky{
	background-image:url("img/citysky.jpg");
}
.bg-NHS-LOGO-TM{
	background-image:url("img/NHS-LOGO-TM.png");
}
.bg-mountains{
	background-image:url("img/mountains.jpg");
}
.bg-valley{
	background-image:url("img/valley.jpg");
}
.bg-lake{
	background-image:url("img/lake.jpg");
}
.bg-mountainsdusk{
	background-image:url("img/mountainsdusk.jpg");
}
.bg-valley{
	background-image:url("img/valley.jpg");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url("img/PWSHS+0896-Hales+wide.png");
}
.bg-PWSHS-0896-Hales-wide{
	background-image:url('img/PWSHS+0896-Hales+wide.png');
}
.bg-IMG-9588{
	background-image:url('img/IMG_9588.jpeg');
}
.bg-mountains-italy{
	background-image:url('img/mountains-italy.jpg');
}
.bg-IMG-0758{
	background-image:url('img/IMG_0758.JPG');
}



/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .molekule{
        padding-left: 20px; 
        padding-right: 20px;  
    }
}
@media (max-width: 768px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-molekule{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */  
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important; 
        padding-right:10px!important; 
    }
    #hero-molekule h1{
        font-size:40px;
    }
    #hero-molekule h2{
        font-size:34px;
    }
    #hero-molekule h3{
        font-size:25px;
    }
    .molekule{
        padding-left: 0; 
        padding-right: 0;  
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }  
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .dropdown .dropdown a .caret{   
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    
    .main-app-icon{
        margin-bottom:50px;
        max-width: 140px;
        height: auto;
    }
    
    #hero-molekule .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-molekule .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
        padding:50px 0;
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;
        margin: -10px 10px 0 0;    
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left; 
    }
    .molekule-group .molekule{
         display:block;
         width:100%;
     }
    .molekule-tile-2 .container, .molekule-tile-3 .container, .molekule-tile-4 .container{
	   padding-left: 10px;
	   padding-right: 10px;
    }
    .molekule-xxl,.molekule-xl,.molekule-lg{
        padding: 40px 0;
    }
    .molekule-sm,.molekule-md{
        padding-left: 0; 
        padding-right: 0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .video-bg-contianer{
        display:none;
    }
    .molekulesapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .molekulesapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}@media (max-width: 420px){
	.hero-text-vc{
	margin-top:0px;
}
.lake-hero-text{
	font-size:38px;
}
.lake-hero-text-sub{
	font-size:24px;
}
.lake-hero-molekule{
	background-size:1550px auto;
}
     .hero-molekule-text{
        font-size:30pt;
        letter-spacing: 2px;
    }
    .hero-molekule-text-sub{
        font-size: 16pt; 
        line-height: 22px;
        margin-bottom: 50px;
    }
}

